/*
Custom Css
*/
@media screen and (max-width: 992px) {
  a.navbar-brand {
    display: contents;
  }
}
/*INICIO NAVBAR*/
nav.navbar {
  background-color: rgba(29, 29, 31, 255);
}

img.zyggo-logo {
  width: 50%;
}
/* NAVBAR*/

/*INICIO ABOUT*/
.img-fluid {
  max-width: 100%;
  height: auto;
}
section.bg-success {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.692);
}
/*INICIO ENVIOS*/
/*FIN ENVIOS*/
/*FIN ABOUT*/

/*INICIO SHOP*/
p.prices-1 {
  display: flex;
  justify-content: space-evenly;
}
p.prices-1 s {
  color: rgba(0, 0, 0, 0.473);
}
ul.list-unstyled li.description-products {
  color: white;
}
